@font-face {
  font-family: aleg-bold;
  src: url(../fonts/Alegreya/AlegreyaSans-Bold.ttf);
}
@font-face {
  font-family: aleg-light;
  src: url(../fonts/Alegreya/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: r-regular;
  src: url(../fonts/Righouts/Righteous-Regular.ttf);
}
